.megamenu {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	background: #189ADA;
	padding: 10px;
	font: normal 12px Verdana;
	z-index: 10000 !important;
	border-radius:0 0 10px 10px;
}

.megamenu .column {
	float: left;
	width: 180px; /*width of each menu column*/
	margin-right: 5px;
}
.megamenu .column ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.megamenu .column ul li {
	padding-bottom: 5px;
	width:185px;
	height:24px;
}
.megamenu .column h3 {
	background: #334D5C;
	font: bold 13px Arial;
	margin: 0 0 5px 0;
}
.megamenu .column ul li a {
	text-decoration: none;
	color:#ffffff;
	display:block;
	width:185px;
	height:24px;
	line-height:24px;
	vertical-align:middle;
	padding-left:12px;
	
	
}
.megamenu .column ul li a:hover {
	color: #FFF;
	background-color: #334D5C;
	background-image: none;
	background-repeat: no-repeat;
	width:170px;
}
